<div class="header clearfix">
 <nav>
    <ul class="nav nav-pills float-xs-right">
      <li class="nav-item">
        <a class="nav-link active" href="home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact">Contact</a>
      </li>
    </ul>
 </nav>
 <h3 class="text-muted">WIMS</h3>
</div>
