<!DOCTYPE html>
<html lang="en">
{{template "_head.html" .}}

  <body>

    <div class="container">
       {{template "_mainmenu.html"}}

        <h1 class="display-3">About Page</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>

        {{template "_footer.html"}}

    </div> <!-- /container -->
  </body>
</html>
